.Calculator{
    height: 400px;
    background: rgba(0, 0, 0, 0.413);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
}
.Keypad{
    width: 90%;
    height: 60%;
    margin-top: 1rem;
    gap: 2px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
button{
    cursor: pointer;
    font-size: xx-large;
    /* border-radius: 50%; */
}
