.Calculator{
    /* height: 28rem;
    width: 16rem; */
    background: rgba(0, 0, 0, 0.413);
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    padding: 0.2rem;
}
.Keypad{
    /* width: 90%;
    height: 60%; */
   
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    grid-template-rows: repeat(5, 3.5rem);
    
}
/* .equal {
    grid-column: 1 / span 2;
} */
button{
    cursor: pointer;
    font-size: xx-large;
    width: 3.5rem;
}
