.Display {
    /* border: solid 1px rgba(216, 216, 216, 0.465); */
    /* width: 90%;
    height: 25%; */
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.531);
    text-align: right;
    padding-inline: 0.5rem;
}

.previous {
    font-size: larger;
}

.current {
    font-size: large;
    margin-top: 1rem;
}
