*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(to right, cyan, magenta);
    font-family: 'Lato', sans-serif;
    color: white;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}